node-1;java -cp /usr/local/haggle/ccnx/lib/bcprov-jdk16-143.jar:/usr/local/haggle/ccnx/lib/ccn.jar:/usr/local/haggle/ccnx/lib/kxml2-2.3.0.jar:/usr/local/haggle/ccnx/lib/dtgp.jar -Dccn.agent.port=6001 -Dorg.ccnx.ccn.LogDir=. dtgp.Main -d -H
node-4;java -cp /usr/local/haggle/ccnx/lib/bcprov-jdk16-143.jar:/usr/local/haggle/ccnx/lib/ccn.jar:/usr/local/haggle/ccnx/lib/kxml2-2.3.0.jar:/usr/local/haggle/ccnx/lib/dtgp.jar -Dccn.agent.port=6001 -Dorg.ccnx.ccn.LogDir=. dtgp.Main -d -I
