node-1;java -cp /usr/local/haggle/ccnx/lib/bcprov-jdk16-143.jar:/usr/local/haggle/ccnx/lib/ccn.jar:/usr/local/haggle/ccnx/lib/kxml2-2.3.0.jar:/usr/local/haggle/ccnx/lib/thoth.jar -Dccn.agent.port=6001 -Dorg.ccnx.ccn.LogDir=. thoth.DTNode -S ccnx:/test/1 testfile.512 
node-2;java -cp /usr/local/haggle/ccnx/lib/bcprov-jdk16-143.jar:/usr/local/haggle/ccnx/lib/ccn.jar:/usr/local/haggle/ccnx/lib/kxml2-2.3.0.jar:/usr/local/haggle/ccnx/lib/thoth.jar -Dccn.agent.port=6001 -Dorg.ccnx.ccn.LogDir=. thoth.DTNode -R ccnx:/test/1 rcvdfile.512 
